
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;600;700;&display=swap');


root{
    /* --primary-color:#575a5e; */
    /* --primary-color-dark:#08b2e3; */
    --secondary-color :#662c91;
    --text-dark:#08090a;
    --text-light:#efe9f4;
    --background:#7d70ba;
    --max-width:1200px;
}
/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} */

nav{
    background-color: var(--secondary-color);
    /* border: 2px solid black; */

}

/* navbar buttons */
/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(253, 206, 255, 0.6);
    --animation-color: #ffff;
    --fs-size: 1.3em;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
/* navbar ends */

/* sectin starts */

.section{
    background-color:var(--background);
    border: 1px solid black;
    /* border-radius: 5px; */
    /* width:fit-content; */
    /* box-shadow: 5px 5px 5px black; */
    margin-left:0%;
    margin-right:0%;
    
}

.section_container{
    min-height: 100vh;
    max-width: auto;
    margin-top: 45px;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtitle{
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: .5rem;
}
.title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}
.title span{
    font-weight: 600;
}

.description{
    line-height: 2rem;
    color:var(--text-light);
    margin-bottom: 1rem;
    font-weight:bolder;
    text-indent: 10%;
    /* text-overflow: ellipsis; */
    text-align: justify;
    font-style: italic;
}

.action_btns{
    display: flex;
    gap:1rem;
}

.action_btns button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px sold var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.hire_me{
    background-color: var(--primary-color);
    color: #ffffff;
}

.hire_me:hover{
    /* background-color: var(--secondary-color); */
    color: var(--secondary-color);
}

.portfolio{
    color: var(--primary-color);
}

.portfolio:hover{
    background-color: var(--secondary-color);
    color: #ffffff;
}

.image{
    display: grid;
    place-items: center;
}

.image img{
    width: min(25rem, 90%);
    border-radius: 100%;
    border: 10px double black;
    background-color: var(--text-light);
    box-shadow: 0px 0px 15px black;
}


/* media width starts */
@media (width < 750px){
    .navbar-collapse .navbar-expand-lg{
        display: flex;
        left: auto;
       
    }

    .navbar-nav .navbar-expand-lg{
        position: absolute;
        left: 70px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    ul{
        position: absolute;
        display:flex;
        width: 100%;
        height: calc(100vh - 85px);
        left: 100%;
        top: 85px;
        background-color:blueviolet;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;

    }
    nav .navbar-expand-lg ~ ul{
        left: 0;
    }

    /* ul li a{
        font-size: 5rem;
    } */
    .section_container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .image{
        grid-area:1/1/2/2;
    }

    .action_btns{
        margin: auto;
    }
}

