
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;600;700;&display=swap');



:root{
    /* --primary-color:#575a5e; */
    /* --primary-color-dark:#08b2e3; */
    --secondary-color :#662c91;
    --text-dark:#08090a;
    --text-light:#efe9f4;
    --background:#7d70ba;
    --max-width:1200px;
}
.end{
    height: 60px;
    width: auto;
}
.text-body-light{
    color: var(--text-light);
}



.image_about{
    /* background-color:brown; */
    border: 9px double white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    height: 250px;
    width:auto;
    background-color: #662c91;
    background-position: center;  
    margin-top: 10px;
    margin-left: 10px;
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    filter:opacity(50%);
    /* padding: 10px; */

}

.image_about:hover{
    background-color: var(--background);
    border-radius: 0%;
   transition-timing-function: linear ease-in-out;
   transition-duration: 0.5s;
   filter: grayscale(0);
   /* transition-delay: 1s; */
}
.abt-text{
    font-size: 34px;
    color: var(--secondary-color);
    /* text-decoration: underline; */
}
.text-body{
    color: var(--text-light);
}
.right{
    font-style: italic;
    font-weight: 700;
    text-align: left;
    display: flex;
    padding-left: 20px;
}

.left{
    font-weight: 700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    color:var(--text-dark);
    /* text-shadow: 0px 0px 2px var(--secondary-color); */
    text-align: left;
    padding-left: 10px;
    display: flex;
    font-size: 24px;

}
.link{
   color: var(--secondary-color);
}

.link:hover{
    color: var(--text-dark);
    text-shadow: 0px 0px 3px var(--secondary-color);
}
.about{
    /* margin-top:100px ; */
    background-color:var(--background);
    /* background-image: url(/src/assets/images/wave\ pattern.png); */
    background-size: cover;
    min-height: 100vh;
    max-width: 100%;
    margin-top: 25px;
    padding: 2rem;
    padding-top: 2px;
    
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 4rem;
    /* border: 3px solid black; */
    /* border-radius: 5px; */
    /* box-shadow: 5px 5px 5px black; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.row{
    color: var(--text-light);
}
